// $theme-colors: (
//   "primary": #F26422,
// );

@import "bootstrap/scss/bootstrap";

:root {
  --bs-primary: #f26422;
  --bs-primary-rgb: 242, 100, 34;
  --bs-danger: #c60000;
  --bs-danger-rgb: 198, 0, 0;
  --bs-success: #3f9b49;
  --bs-success-rgb: 63, 155, 73;
  --bs-border-radius: 0;

  --bs-btn-border-radius: 0;
  --bs-border-radius-lg: 0;
  --bs-border-radius-sm: 0;

  --bs-link-color: #f26422;
  --bs-link-hover-color: #c60000;

  --bs-link-color: #f26422;
  --bs-link-color-rgb: 242, 100, 34;
}

.form-check-input:checked {
  background-color: #f26422;
  border-color: #f26422;
}

.table tr th {
  background-color: #f26422;
}

.table tr th,
.table tr th button {
  color: #fff;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #f26422;
  --bs-btn-border-color: #f1530a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f1530a;
  --bs-btn-hover-border-color: #f1530a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f1530a;
  --bs-btn-active-border-color: #c03d00;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #c03d00;
  --bs-btn-disabled-border-color: #c03d00;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #f26422;
}
